<!--Soal 2-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <div id="app">
     <button onclick="vm.openform()">Open Form</button>
     <h1>{{ 'Nilai a: '+a }}</h1>
     <h1>{{'Rata-rata: '+rata}}</h1>
    </div>
      
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a: 0,
                rata: 0,
                input: [0,0,0,0],
            },
            methods : {
                openform() {
                    for (i=0; i<4; i++){
                        this.input[i] = parseInt(prompt("Masukkan nilai a"))
                    this.a = this.input[0]+this.input[1]+this.input[2]+this.input[3]
                    this.rata = this.a/4
                    }
                    }
                }     
          })
      </script>
</body>
</html>