<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="add">
        <ul>
            <li v-for="nama in addnama">{{nama.name}}</li>
        </ul>
        <form @submit.prevent="addForm($event)">

            <input type="submit" value="add">

        </form>
    </div>
		
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
			el: "#app",
            data: {
                add : '',
                users: [
                    {
                        "name": "Muhammad Iqbal Mubarok"
                    },
                    {
                        "name": "Ruby Purwanti"
                    },
                    {
                        "name": "Faqih Muhammad"
                    }
                ]

            },
            methods: {
                addForm: function(){
                    console.log("add")

                }
            }

        })
      
    </script>
</body>
</html>